/* BODY, MAIN STYLE */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(0,0,0,0.2);
}

/* NAVIGATION BAR STYLE */

nav {
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav .emphasize {
  color: rgba(0,0,0,0.5);
}

nav .title a {
  color: rgba(20,40,255,0.5);
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  padding-left: 25px;
}

nav li a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.05);
}

nav li a:hover {
  background-color: rgba(0,0,0,0.2);
}

nav li a.sign_in {
  border: 2px solid rgba(0,0,0,0.3);
}

nav li a.sign_in:hover {
  border: 2px solid rgba(0,0,0,1);
  background-color: rgba(0,0,0,0);
}

/* NAVIGATION BAR LESS THAN 790PX (SINCE THAT IS WHEN IT LOOKS WEIRD) */
@media only screen and (max-width : 790px) {
  nav {
    padding-top: 5px;
  }

  nav li {
    display: none;
    padding: 0;
  }

  nav li.li_sign_in {
    display: inline;
  }
}

/* MAIN PAGE STYLE */

#slogan {
  font-size: 3em;
  font-family: georgia;
  text-align: center;
  padding: 50px;
}

#homepageCharts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 50px;
}

#chart {
  width: 33%;
  text-align: center;
}

#dailytracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#dailytracking li {
  list-style-type: none;
}
.signup_button {
  text-align: center;
}

.signup_button a {
  font-size: 1.6em;
  padding: 30px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  width: 20%;
  min-width: 80px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.4);
}

.signup_button a:hover {
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.signup_button a:focus {
  outline: 0;
}

/* MAIN PAGE STYLE FOR LESS THAN 790PX */
@media only screen and (max-width : 790px) {
  .signup_box h1 {
    padding-top: 30px;
    color: rgba(0,0,0,1);
    text-shadow: none;
    font-size: 2em;
  }

  .signup_box p {
    color: rgba(0,0,0,1);
  }

  .signup_form {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .signup_form p {
    color: rgba(255,255,255,1);
  }

  .signup_form_input {
    flex-direction: column;
    align-items: center;
  }

  .signup_form_input input[type=text] {
    width: 90%;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    border: none;
  }

  .signup_form_input button {
    width: 92%;
    padding: 5px;
    margin: 0;
  }
}

/* FOOTER STYLE */

footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 33%);
  padding-top: 150px;
}

.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}

.footer_links ul {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 40px;
}

.footer_links li a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
}

.footer_links li a:hover {
  color: rgba(255,255,255,0.9);
}

.footer_links li.footer_link_header {
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}

.footer_links li.footer_link_header i {
  display: none;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(20,20,20,1);
  color: rgba(255,255,255,0.6);
}

.footer_bottom .title_font {
  font-family: lobster;
  color: rgba(255,255,255,0.7);
  text-decoration: none;
}

.footer_bottom .title_font:hover {
  color: white;
}

.footer_bottom li a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

.footer_bottom li a:hover {
  color: white;
}

.footer_bottom ul {
  list-style-type: none;
}

.footer_bottom li {
  display: inline;
  padding-left: 10px;
}

/* Footer style for less than 790px */
@media only screen and (max-width : 790px) {

  .footer_links {
    flex-direction: column;
  }

  .footer_links li {
    display: none
  }

  .footer_links li.footer_link_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 15px;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .footer_links li.footer_link_header i {
    display: inline;
  }
}
