body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background-image: url(http://st.depositphotos.com/1010754/2033/v/950/depositphotos_20337999-Ethnic-paisley-pattern.jpg);
  background-size: cover;
  margin: 50px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  color: white;
  margin: 2vh;
  flex-wrap: wrap;
  text-overflow: inherit;

  a {
    text-decoration: none;
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-color: black;
    border-style: solid;
    background-color: white;
    margin: 1vh;
    text-overflow: inherit;
    font-size: 2.5vw;
  }
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  border-style: solid;
  background-color: rgba(255, 255, 255, .2);
  margin: 1vh;
  h1 {
    font-style: italic;
    align-items: center;
    font-weight: bold;
    font-size: 5vw;

  }
}

#listview {
  font-size: 1.2em;
  li {
    list-style-type: none;
    background-color: rgba(128, 203, 196, 1);
    padding: 1vw;
    margin: 1vw;
  }
  li:hover {
    background-color: rgba(0, 121, 107, .5);
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: white;
  }
}
#input-bar {
  display: flex;
  flex-direction: column;

  input {
    font-size: 1em;
    border-radius: .25em;
    font-style: italic;
    margin: 20px;
    min-height: 8vh;
    word-wrap: normal;
  }
}
#edit-form {
  display: flex;
  flex-direction: column;
}
#edit-line {
  display: flex;
  flex-direction: row;
}
#note-title {
  border-style: solid;
  background-color: rgba(128, 203, 196, .8);
  margin: 0px;
  padding: 0px;
}
#note-body {
  background-color: rgba(128, 203, 196, .8);
  margin: 0px;
}
#tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(128, 203, 196, .8);
  margin: 0px;
  h5 {
    margin-right: 2vw;
  }
}
#username {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(128, 203, 196, .8);
  margin: 0px;
  h5 {
    margin-right: 2vw;
  }
}
#buttons {
  background-color: rgba(128, 203, 196, .8);
  i {
    color: black;
    padding-right: 2vw;
  }
}
#sign-out-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10vw;
  a {
    text-decoration: none;
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-color: black;
    border-style: solid;
    background-color: white;
    margin: 1vh;
    text-overflow: inherit;
    font-size: 2.5vw;
  }
}
#sign-out-content {
  h2 {
    background-color: rgba(128, 203, 196, .8);
  }
}
